{% extends "base/base_softmant.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-people-fill"></i> Empleados</h6>
                            <span class="h2 mb-0"><strong>{{ num_empleados }}</strong></span>
                            <span class="mt-n1 ms-2 badge text-danger">No registrado en Odoo: {{ num_empleados_odoo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <div class="card-body">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-truck"></i> Elementos</h6>
                            <span class="h2 mb-0"><strong>{{ num_elementos }}</strong></span>
                            <span class="mt-n1 ms-2 badge text-danger">No registrado en Odoo: {{ num_elementos_odoo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="card" >
                <div class="card-body">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-tools"></i> Materiales</h6>
                            <span class="h2 mb-0"><strong>{{ num_materiales }}</strong></span>
                            <span class="mt-n1 ms-2 badge text-danger">No registrado en Odoo: {{ num_materiales_odoo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <div class="card-body">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-file-earmark-medical"></i> Ordenes</h6>
                            <span class="h2 mb-0"><strong>{{ num_ordenes }}</strong></span>
                            <span class="mt-n1 ms-2 badge text-success">Subidas: {{ num_ordenes_estado.subidas }}</span>
                            <span class="mt-n1 ms-2 badge text-danger">Pendientes: {{ num_ordenes_estado.pendientes }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" >
        <div class="card-body text-center">
            <div class="align-items-center row">
                <div class="col">
                    <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-arrow-repeat"></i> Sincronización</h6>
                    <button type="button" class="btn btn-primary" id="btnSincronizar">
                        Sincronizar Ordenes desde Softmant
                    </button>
                    <div class="mt-2" id="divMensajes"></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    document.getElementById("btnSincronizar").addEventListener("click", IniciarSincronizacion);

    function IniciarSincronizacion(){
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'sincronizar-softmant' %}',
            dataType: 'json',
            beforeSend: function(){
                document.getElementById("btnSincronizar").innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Sincronizando...";
                document.getElementById("divMensajes").innerHTML = "<span class='small text-muted'><i class='bi bi-info-circle'></i> Esta tarea de sincronizacion puede tardar varios minutos</span>";
            },
            complete: function(){
                document.getElementById("btnSincronizar").innerHTML = "Sincronizar Ordenes desde Softmant";
            },
            success: function (data) {
                document.getElementById("divMensajes").innerHTML = "<span class='small text-success'><i class='bi bi-check-circle-fill'></i> Sincronización realizada con éxito</span>";
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al sincronizar con softflot.\n\n" + arrExe.responseText);
            }
        });
    }
</script>
{% endblock %}



