{% extends "base/base_softmant.html" %}
{% load static %}

{% block extracss %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">-->
{% endblock %}

{% block content %}
<div class="form-inline">
    <h4 class="mt-3 mr-2">Detalle de Orden</h4>
    <a type="button" href="{% url 'softmant-orden' %}" class="btn btn-primary btn-sm mt-2">Regresar</a>
</div>
<div class="mt-2">
    <h5 class="text-muted">Información</h5>
    <div class="card border-secondary mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <span><b>Id Orden:</b> {{ object.id_orden }}</span><br>
                    <span><b>Tipo:</b> {{ object.tipo }}</span><br>
                    <span><b>Folio:</b> {{ object.folio }}</span><br>
                    <span><b>Fecha:</b> {{ object.fecha }}</span>
                </div>
                <div class="col-sm">
                    <span><b>Empleado:</b> {{ object.empleado }}</span><br>
                    <span><b>Duración:</b> {{ object.duracion }}</span><br>
                    <span><b>Registro en Odoo:</b>
                    {% if object.registro_odoo == True %}
                        <i class="bi bi-check-circle-fill text-success"></i> {{ registro_odoo_fecha }}
                    {% else %}
                        <i class="bi bi-dash-circle-fill text-danger"></i>
                    {% endif %}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <span><b>Descripción:</b> {{ object.descripcion }}</span><br>
                    <span><b>Comentarios:</b> {{ object.comentarios | default_if_none:"-"}}</span>
                </div>
            </div>
        </div>
    </div>
    {% for item in object.elementoorden_orden.all %}
        <h5 class="text-muted"><i class="bi bi-box"></i> EQUIPO: {{ item.elemento | upper }}</h5>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tareas">Tareas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#materiales">Materiales</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="tareas">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr class="text-secondary">
                            <th scope="col">FECHA</th>
                            <th scope="col">ID EMPLEADO</th>
                            <th scope="col">DESCRIPCIÓN</th>
                            <th scope="col">DURACIÓN</th>
                            <th scope="col">REALIZADA</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tarea in item.detalletarea_elementoorden.all %}
                            <tr>
                                <td>{{ tarea.fecha | default_if_none:"-" }}</td>
                                <td>{{ tarea.id_empleado | default_if_none:"-" }}</td>
                                <td>{{ tarea.descripcion }}</td>
                                <td>{{ tarea.duracion }}</td>
                                <td>
                                    {% if tarea.realizada == True %}
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    {% else %}
                                        <i class="bi bi-dash-circle-fill text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr><td class="text-center text-muted" colspan="5">No existen tareas para esta orden</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="materiales">
                   <table class="table table-striped table-sm">
                       <thead>
                           <tr class="text-secondary">
                               <th scope="col">CANTIDAD</th>
                               <th scope="col">UNIDAD MEDIDA</th>
                               <th scope="col">MATERIAL</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% for mater in item.detallematerial_elementoorden.all %}
                           <tr>
                               <td>{{ mater.cantidad }}</td>
                               <td>{{ mater.material.unidad }}</td>
                               <td>{{ mater.material }} - {{ mater.material.descripcion }}</td>
                           </tr>
                           {% empty %}
                           <tr>
                               <td class="text-center text-muted" colspan="3">No existen materiales para esta orden</td>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}