{% extends "base/base_softmant.html" %}
{% load static %}

{% block extracss %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">-->
{% endblock %}

{% block content %}
<h4 class="mt-3">Ordenes</h4>
<div class="mt-3">
    <table class="table table-striped table-sm">
        <thead>
            <tr class="text-secondary">
                <th scope="col" class="text-muted">ID</th>
                <th scope="col">ID ORDEN</th>
                <th scope="col">EMPLEADO</th>
                <th scope="col">TIPO</th>
                <th scope="col">FOLIO</th>
                <th scope="col">DESCRIPCIÓN</th>
                <th scope="col">FECHA</th>
                <th scope="col">REGISTRO ODOO</th>
                <th scope="col">REGISTRO ODOO FECHA</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for orden in object_list %}
            <tr>
                <td scope="row" class="text-muted">{{ orden.pk }}</td>
                <td>{{ orden.id_orden }}</td>
                <td>{{ orden.empleado }}</td>
                <td>{{ orden.tipo }}</td>
                <td>{{ orden.folio }}</td>
                <td>{{ orden.descripcion }}</td>
                <td>{{ orden.fecha }}</td>
                <td>
                    {% if orden.registro_odoo == True %}
                        <i class="bi bi-check-circle-fill text-success"></i>
                    {% else %}
                        <i class="bi bi-dash-circle-fill text-danger"></i>
                    {% endif %}
                </td>
                <td>{{ orden.registro_odoo_fecha | default_if_none:"-" }}</td>
                <td><a href="{% url 'softmant-orden-detalle' orden.pk %}">Detalle</a></td>
            </tr>
        {% empty %}
            <tr><td colspan="8">No existen registros</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--Pagination-->
{% if is_paginated %}
<hr>
<nav class="mt-2 center" aria-label="Page navigation example">
    <ul class="pagination justify-content-left">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>
<hr>
{% endif %}
<!--end of Pagination-->
{% endblock %}