{% extends "base/base_softflot.html" %}
{% load static %}

{% block extracss %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">-->
{% endblock %}

{% block content %}
<h4 class="mt-3">Empleados</h4>
<div class="mt-3">
    <table class="table table-striped table-sm">
        <thead>
            <tr class="text-secondary">
                <th scope="col" class="text-muted">ID</th>
                <th scope="col">ID ODOO</th>
                <th scope="col">ID EMPLEADO</th>
                <th scope="col">DNI</th>
                <th scope="col">NOMBRES</th>
                <th scope="col">FECHA DE CREACIÓN</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in object_list %}
            <tr>
                <td scope="row" class="text-muted">{{ empleado.pk }}</td>
                <td>{{ empleado.id_odoo }}</td>
                <td>{{ empleado.id_empleado }}</td>
                <td>{{ empleado.dni }}</td>
                <td>{{ empleado.nombres }}</td>
                <td class="text-muted">{{ empleado.fecha_creacion }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="6">No existen registros</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--Pagination-->
{% if is_paginated %}
<hr>
<nav class="mt-2 center" aria-label="Page navigation example">
    <ul class="pagination justify-content-left">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>
<hr>
{% endif %}
<!--end of Pagination-->
{% endblock %}