{% extends "base/base_softflot.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-2">
        <div class="col">
            <!--card empleados-->
            <div class="card">
                <div class="card-body">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-people-fill"></i> Empleados</h6>
                            <span class="h2 mb-0"><strong>{{ num_empleados }}</strong></span>
                            <span class="mt-n1 ms-2 badge text-danger">No registrado en Odoo: {{ num_empleados_odoo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <!--card vehiculos-->
            <div class="card" >
                <div class="card-body">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-truck"></i> Vehiculos</h6>
                            <span class="h2 mb-0"><strong>{{ num_vehiculos }}</strong></span>
                            <span class="mt-n1 ms-2 badge text-danger">No registrado en Odoo: {{ num_vehiculos_odoo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <!--card materiales-->
            <div class="card" >
                <div class="card-body">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-tools"></i> Materiales</h6>
                            <span class="h2 mb-0"><strong>{{ num_materiales }}</strong></span>
                            <span class="mt-n1 ms-2 badge text-danger">No registrado en Odoo: {{ num_materiales_odoo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <!--card ordenes-->
            <div class="card" >
                <div class="card-body">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-file-earmark-medical"></i> Ordenes</h6>
                            <span class="h2 mb-0"><strong>{{ num_ordenes }}</strong></span>
                            <span class="mt-n1 ms-2 badge text-success">Subidas: {{ num_ordenes_estado.subidas }}</span>
                            <span class="mt-n1 ms-2 badge text-danger">Pendientes: {{ num_ordenes_estado.pendientes }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <!--card sincronizacion-->
            <div class="card" >
                <div class="card-body text-center">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-arrow-repeat"></i> Sincronización</h6>
                            <button type="button" class="btn btn-primary" id="btnSincronizar">
                                Sincronizar Ordenes desde Softflot
                            </button>
                            <div class="mt-2" id="divMensajes"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <!--card subir odoo-->
            <div class="card">
                <div class="card-body text-center">
                    <div class="align-items-center row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted mb-2"><i class="bi bi-upload"></i> Migrar a Odoo</h6>
                            <button type="button" class="btn btn-success" id="btnMigrar">
                                Migrar Ordenes a Odoo
                            </button>
                            <div class="mt-2" id="divMensajesMigrar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    document.getElementById("btnSincronizar").addEventListener("click", iniciarSincronizacion);
    document.getElementById("btnMigrar").addEventListener("click", iniciarMigracion);

    function iniciarMigracion(){
        console.log("iniciando la migracion");
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'sincronizar-softflot-ordenes' %}',
            dataType: 'json',
            beforeSend: function(){
                document.getElementById("btnMigrar").innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Migrando...";
                document.getElementById("divMensajesMigrar").innerHTML = "<span class='small text-muted'><i class='bi bi-info-circle'></i> Esta tarea de migracion puede tardar varios minutos</span>";
            },
            complete: function(){
                document.getElementById("btnMigrar").innerHTML = "Migrar a Odoo";
            },
            success: function (data) {
                document.getElementById("divMensajesMigrar").innerHTML = "<span class='small text-success'><i class='bi bi-check-circle-fill'></i> Migración realizada con éxito</span>";
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al sincronizar con softflot.\n\n" + arrExe.responseText);
            }
        });
    }

    function iniciarSincronizacion(){
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'sincronizar-softflot' %}',
            dataType: 'json',
            beforeSend: function(){
                document.getElementById("btnSincronizar").innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Sincronizando...";
                document.getElementById("divMensajes").innerHTML = "<span class='small text-muted'><i class='bi bi-info-circle'></i> Esta tarea de sincronizacion puede tardar varios minutos</span>";
            },
            complete: function(){
                document.getElementById("btnSincronizar").innerHTML = "Sincronizar Ordenes desde Softflot";
            },
            success: function (data) {
                document.getElementById("divMensajes").innerHTML = "<span class='small text-success'><i class='bi bi-check-circle-fill'></i> Sincronización realizada con éxito</span>";
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al sincronizar con softflot.\n\n" + arrExe.responseText);
            }
        });
    }
</script>
{% endblock %}
