{% extends "base/base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<form class="form-signin text-center" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <img class="mb-4 text-white" src="{% static 'img/logo-lojagas-bluewhite.png' %}" alt="" >
    <h1 class="h3 mb-3 text-white font-weight-normal">Sistema de Integración Odoo Lojagas</h1>
    <input type="text" name="username" class="form-control mb-2" placeholder="Correo" autofocus required id="id_username">
    {{ field.help_text }}
    <input type="password" name="password" class="form-control" placeholder="Contraseña" required id="id_password">
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Ingresar">
    <input type="hidden" name="next" value="{{ next }}">
    <br>
    {% if form.non_field_errors %}
    <div class="alert alert-dismissible">
        <ul class='form-errors'>
            {% for error in form.non_field_errors %}
            <li class="text-white"><small class="text-danger">{{ error }}</small></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <p class="mt-5 mb-3 text-white">&copy; Lojagas 2020</p>
</form>
{% endblock %}