{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">-->
{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Aplicaciones Integradas a Odoo</h1>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Biometrico</h4>
            </div>
            <div class="card-body">
                <small class="text-muted">Aplicación para la Gestión de Marcaciones</small><br>
                <img class="mb-3 mt-3" src="{% static 'img/attendance.png' %}" alt="" width="60" height="60">
                <a href="{% url 'biometrico-inicio' %}" class="btn btn-lg btn-block btn-outline-primary">Entrar</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Softflot</h4>
            </div>
            <div class="card-body">
                <small class="text-muted">Aplicación para la Gestión y Mantenimiento de Flotillas</small><br>
                <img class="mb-3 mt-3" src="{% static 'img/mantenimiento.png' %}" alt="" width="60" height="60">
                <a href="{% url 'softflot-inicio' %}" class="btn btn-lg btn-block btn-outline-primary">Entrar</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Softfmant</h4>
            </div>
            <div class="card-body">
                <small class="text-muted">Aplicación para la Gestión y Mantenimiento de Equipos</small><br>
                <img class="mb-3 mt-3" src="{% static 'img/mantenimiento-equipos.png' %}" alt="" width="60" height="60">
                <a href="{% url 'softmant-inicio' %}" class="btn btn-lg btn-block btn-outline-primary">Entrar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


