{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lojagas"/>
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Lojagas Integración Odoo</title>
    <style>
        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
    </style>
    {% block extracss %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow">
        <a class="navbar-brand">
            <img src="{% static 'img/mantenimiento.png' %}" alt="" width="25" height="25">
        </a>
        <span class="navbar-brand">Softflot</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard-home' %}">Aplicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'softflot-inicio' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'softflot-vehiculo' %}">Vehiculos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'softflot-empleado' %}">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'softflot-material' %}">Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'softflot-orden' %}">Ordenes</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Bienvenido: {{user.first_name }} {{ user.last_name }} /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{% url 'logout' %}"><strong>Cerrar Sesión</strong></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %}
    {% endblock %}
</body>
</html>


