{% extends "emails/base.html" %}
{% load staticfiles%}

{% block contenido %}
<h2 style="color:#273d6d;font-family:sans-serif;font-weight:400;line-height:1.4;margin:0;margin-bottom:30px;">
    &#9741; Sistema de Integración Odoo
</h2>
<p>
    A continuacion se detallan los resultados al sincronizar dispositivos biometricos
</p>
<p>
    Fecha de sincronización: {{ fecha }}
</p>
<h4 style="color:#273d6d;font-family:sans-serif;font-weight:400;line-height:1;margin:0;margin-bottom:4px;">
	<b>DISPOSITIVOS</b>
</h4>
<table border="1" cellpadding="1" cellspacing="0" style="border-collapse:collapse;width:100%">
    <thead>
        <tr style="text-align: left;">
            {% for col in columnas_template %}
                <th style="font-family:sans-serif;font-size:12px;">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for registro in lista_registros %}
            <tr>
                <td style="font-family:sans-serif;font-size:12px;">{{ registro.nombre }}</td>
                <td style="font-family:sans-serif;font-size:12px;">{{ registro.ip }}</td>
                <td style="font-family:sans-serif;font-size:12px;">{{ registro.descripcion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock contenido %}