{% extends "base/base_biometrico.html" %}
{% load static %}

{% block extracss %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">-->
{% endblock %}

{% block content %}
<h4 class="mt-3">Dispositivos</h4>
<div class="mt-3">
    <table class="table table-striped table-sm">
        <thead>
            <tr class="text-secondary">
                <th scope="col">NOMBRE</th>
                <th scope="col">DIRECCIÓN IP</th>
                <th scope="col">ESTADO</th>
                <th scope="col">FIRMWARE</th>
                <th scope="col">DEVICE NAME</th>
                <th scope="col">PLATAFORMA</th>
                <th scope="col">NRO. REGISTROS</th>
                <th scope="col">ÚLTIMA ACTUALIZACIÓN</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for dispositivo in object_list %}
            <tr>
                <td>{{ dispositivo.nombre }}</td>
                <td>{{ dispositivo.ip_address }}</td>
                <td>
                    {% if dispositivo.activo == True %}
                        <span class="badge badge-success">ACTIVO</span>
                    {% else %}
                        <span class="badge badge-danger">INACTIVO</span>
                    {% endif %}
                </td>
                <td class="text-muted">{{ dispositivo.firmware }}</td>
                <td class="text-muted">{{ dispositivo.device_name }}</td>
                <td class="text-muted">{{ dispositivo.plataform }}</td>
                <td class="text-muted">{{ dispositivo.numero_registros }}</td>
                <td class="text-muted">{{ dispositivo.fecha_actualizacion }}</td>
                <td>
                    <button type="button" id="btn_actualizar_{{ dispositivo.pk }}" onclick="iniciarActualizacion({{ dispositivo.pk }})" class="btn btn-link btn-sm">
                        <i class="bi bi-arrow-repeat"></i> Actualizar
                    </button>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="6">No existen registros</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--Pagination-->
{% if is_paginated %}
<hr>
<nav class="mt-2 center" aria-label="Page navigation example">
    <ul class="pagination justify-content-left pagination-sm">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>
<hr>
{% endif %}
<!--end of Pagination-->
{% endblock %}

{% block extrajs %}
<script type="text/javascript">

    function iniciarActualizacion(dispositivo_id){
        var bt_id = "btn_actualizar_" + dispositivo_id;
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'actualizar-info-dispositivo' %}',
            data: {'dispositivo_id':dispositivo_id},
            dataType: 'json',
            beforeSend: function(){
                document.getElementById(bt_id).innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Actualizando...";
            },
            complete: function(){
                document.getElementById(bt_id).innerHTML = "<i class='bi bi-arrow-repeat'></i> Actualizar";
            },
            success: function (data) {
                console.log(data);
                data.forEach(function(item) {
                    if (item.estado != "error"){
                        alert("Dispositivo actualizado con éxito");
                    } else {
                        alert("ERROR: \n\nOcurrio un error al actualizar información: \n\n" + item.descripcion);
                    }
                });
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al actualizar información.\n\n" + arrExe.responseText);
            }
        });
    }
</script>
{% endblock %}



