{% extends "base/base_biometrico.html" %}
{% load static %}

{% block extracss %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">-->
{% endblock %}

{% block content %}
<h4 class="mt-3">Periodos</h4>
<div class="mt-3">
    <table class="table table-striped table-sm">
        <thead>
            <tr class="text-secondary">
                <th scope="col" class="text-muted">ID</th>
                <th scope="col">FECHA INICIAL</th>
                <th scope="col">FECHA FINAL</th>
                <th scope="col"># MARCACIONES</th>
                <th scope="col">DISPOSITIVO</th>
                <th scope="col">FECHA DE CREACIÓN</th>
            </tr>
        </thead>
        <tbody>
        {% for periodo in object_list %}
            <tr>
                <td scope="row" class="text-muted">{{ periodo.pk }}</td>
                <td>{{ periodo.fecha_inicial }}</td>
                <td>{{ periodo.fecha_final }}</td>
                <td>{{ periodo.numero_marcaciones }}</td>
                <td>{{ periodo.dispositivo }}</td>
                <td class="text-muted">{{ periodo.fecha_creacion }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="4">No existen registros</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--Pagination-->
{% if is_paginated %}
<hr>
<nav class="mt-2" aria-label="Page navigation example">
    <ul class="pagination justify-content-left pagination-sm">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>
<hr>
{% endif %}
<!--end of Pagination-->

{% endblock %}


